# Core functionality - changes here should be rare!
/src/app.py                   @aeratory678
/src/backend/database.py      @aeratory678
/src/backend/routers/auth.py  @aeratory678

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aeratory678
